html
  head
    title= "WebSockets Test Client"
    link(rel="stylesheet" href="app.css")

  body
    header#header.header
      h1= "WebSockets Test"
    main#main.container
      div#toolbar.toolbar
        div#connInfo.toolbar__top
          div#connActions.toolbar__left
            button#openBtn.toolbar__button Open
            button#closeBtn.toolbar__button Close
            button#clearBtn.toolbar__button Clear
          div#connLabel.toolbar__right.connect-label.disconnected
        div#connInteractions.toolbar__bottom
          div#connInput
            input(type="text" name="chatbox" id="chatbox" placeholder="Enter your Message")
            button#sendBtn.toolbar__button Send
      div#root.container__response
        div#output.output

    script(src='app.js')
